
<link rel="stylesheet" href="~/Content/css/principal.css" type="text/css" />

<div class="jumbotron">
    <h1>API CRUD</h1>
    <h2>PRUEBA TECNICA TOKA</h2>
</div>
<div class="row">
    <div class="col-md-6">
        <img src="~/Content/images/logo-api.png" class="logo-api" />
    </div>
    <div class="col-md-6">
        <h3>Informacion Personal</h3>
        <p><b>Nombre:</b> Agustin Eduardo Aguirre Cardenas</p>
        <p><b>Telefono:</b> 6721204502</p>
        <p><b>Correo:</b> agustin.aguirrecardenas@outlook.com</p>
        <p><b>Fecha Entrega:</b> 13 de junio de 2021</p>
    </div>
</div>
